@import "tailwindcss";

:root {
  --background: #f2fae0;
  --foreground: #040316;
}

@theme inline {
  /* BACKGROUND */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* FONT */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  /* PRIMARY PALETTE */
  --color-primary:    #3f2b81;
  --color-secondary:  #c5afd1;
  --color-accent:     #fc6eac;
  --color-background: #f2fae0;
  --color-text:       #040316;  /* DARK DARK BLUE/BLACK */  

  /* Electric Indigo */
  --color-electric-indigo-50:   #d8ccff;
  --color-electric-indigo-100:  #c5afd1;
  --color-electric-indigo-200:  #b199ff;
  --color-electric-indigo-300:  #8a66ff;
  --color-electric-indigo-400:  #6333ff;
  --color-electric-indigo-500:  #3f2b81;  /* PRIMARY */
  --color-electric-indigo-600:  #3000cc;
  --color-electric-indigo-700:  #240099;
  --color-electric-indigo-800:  #180066;
  --color-electric-indigo-900:  #0c0033;
  --color-electric-indigo-950:  #080024;

  /* Neon Violet */
  --color-neon-violet-50:       #f6e6ff;
  --color-neon-violet-100:      #edcdfe;
  --color-neon-violet-200:      #db9afe;
  --color-neon-violet-300:      #c968fd;
  --color-neon-violet-400:      #b735fd;
  --color-neon-violet-500:      #c5afd1;  /* SECONDARY */
  --color-neon-violet-600:      #8402ca;
  --color-neon-violet-700:      #630297;
  --color-neon-violet-800:      #420165;
  --color-neon-violet-900:      #210132;
  --color-neon-violet-950:      #170023;

  /* Hot Pink */
  --color-hot-pink-web-50:      #fee6f1;
  --color-hot-pink-web-100:     #fecde2;
  --color-hot-pink-web-200:     #fd9bc5;
  --color-hot-pink-web-300:     #fc6eac;
  --color-hot-pink-web-400:     #fb378c;
  --color-hot-pink-web-500:     #fc6eac;  /* ACCENT */
  --color-hot-pink-web-600:     #c80459;
  --color-hot-pink-web-700:     #960343;
  --color-hot-pink-web-800:     #64022c;
  --color-hot-pink-web-900:     #320116;
  --color-hot-pink-web-950:     #230110;

  /* Cream */
  --color-cream-50:             #f2fae0;
  --color-cream-100:            #eaf4d3;
  --color-cream-200:            #d7e9ba;
  --color-cream-300:            #c0d895;
  --color-cream-400:            #a6c370;
  --color-cream-500:            #82b24b;  /* BACKGROUND */
  --color-cream-600:            #5e9126;
  --color-cream-700:            #3d700c;
  --color-cream-800:            #1f4d00;
  --color-cream-900:            #002600;
  --color-cream-950:            #001a00;

  /* Beige */
  --color-beige-50:             #f2fae0;
  --color-beige-100:            #eaf4d3;
  --color-beige-200:            #d7e9ba;
  --color-beige-300:            #c0d895;
  --color-beige-400:            #a6c370;
  --color-beige-500:            #82b24b;  /* BACKGROUND SECONDARY */
  --color-beige-600:            #5e9126;
  --color-beige-700:            #3d700c;
  --color-beige-800:            #1f4d00;
  --color-beige-900:            #002600;
  --color-beige-950:            #001a00;
}

/* MEDIA */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #f2fae0;
    --foreground: #040316;
  }
}

.hexagon {
  height: 500px; /* adjust to control the size  */
  aspect-ratio: 1/cos(30deg);
  clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
}